@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="header">
        <h1>Welcome to Our Site</h1>
        <p>Your success starts here</p>
    </div>

    <div class="content">
        <p>Discover how we can help you grow and achieve your goals.</p>
        <a href="#learn-more" class="cta-button">Get Started</a>
    </div>

    <div class="footer">
        &copy; 2025 Company Name. All rights reserved.
    </div>

    
</div>